{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 115,
	"tabWidth": 2,
	"html.format.wrapAttributes": "force-aligned",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
